<a href="https://colab.research.google.com/github/alexandra-hidalgo/datasci_1_loading/blob/main/datasci.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas Data Loading

In [2]:
import pandas as pd

## Examples of CSV files

### First Sample data of Covid-19

In [2]:
# Cases
Covid_cases = pd.read_csv('https://storage.googleapis.com/covid19-open-data/v3/epidemiology.csv')

In [3]:
Covid_cases

,date,location_key,new_confirmed,new_deceased,new_recovered,new_tested,cumulative_confirmed,cumulative_deceased,cumulative_recovered,cumulative_tested
0,2020-01-01,AD,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
1,2020-01-02,AD,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
2,2020-01-03,AD,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
3,2020-01-04,AD,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
4,2020-01-05,AD,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
12525820,2022-09-09,ZW,11.0,0.0,NaN,NaN,256870.0,5596.0,NaN,NaN
12525821,2022-09-10,ZW,18.0,0.0,NaN,NaN,256888.0,5596.0,NaN,NaN
12525822,2022-09-11,ZW,0.0,0.0,NaN,NaN,256888.0,5596.0,NaN,NaN
12525823,2022-09-12,ZW,51.0,0.0,NaN,NaN,256939.0,5596.0,NaN,NaN
12525824,2022-09-13,ZW,0.0,0.0,NaN,NaN,256939.0,5596.0,NaN,NaN

In [4]:
Covid_cases.columns

Index(['date', 'location_key', 'new_confirmed', 'new_deceased',
       'new_recovered', 'new_tested', 'cumulative_confirmed',
       'cumulative_deceased', 'cumulative_recovered', 'cumulative_tested'],
      dtype='object')

In [5]:
# New cases of Covid-19
Covid_cases['new_confirmed']

0            0.0
1            0.0
2            0.0
3            0.0
4            0.0
            ...
12525820    11.0
12525821    18.0
12525822     0.0
12525823    51.0
12525824     0.0
Name: new_confirmed, Length: 12525825, dtype: float64

In [6]:
Covid_cases['new_deceased']

0           0.0
1           0.0
2           0.0
3           0.0
4           0.0
           ...
12525820    0.0
12525821    0.0
12525822    0.0
12525823    0.0
12525824    0.0
Name: new_deceased, Length: 12525825, dtype: float64

In [7]:
Covid_cases['new_recovered']

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
            ..
12525820   NaN
12525821   NaN
12525822   NaN
12525823   NaN
12525824   NaN
Name: new_recovered, Length: 12525825, dtype: float64

### Second sample data of Covid-19

In [8]:

vaccine_info = pd.read_csv('https://storage.googleapis.com/covid19-open-data/v3/vaccinations.csv')

In [9]:
vaccine_info

,date,location_key,new_persons_vaccinated,cumulative_persons_vaccinated,new_persons_fully_vaccinated,cumulative_persons_fully_vaccinated,new_vaccine_doses_administered,cumulative_vaccine_doses_administered,new_persons_vaccinated_pfizer,cumulative_persons_vaccinated_pfizer,...,new_persons_fully_vaccinated_janssen,cumulative_persons_fully_vaccinated_janssen,new_vaccine_doses_administered_janssen,cumulative_vaccine_doses_administered_janssen,new_persons_vaccinated_sinovac,total_persons_vaccinated_sinovac,new_persons_fully_vaccinated_sinovac,total_persons_fully_vaccinated_sinovac,new_vaccine_doses_administered_sinovac,total_vaccine_doses_administered_sinovac
0,2021-01-25,AD,NaN,576.0,NaN,NaN,NaN,576.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-02-01,AD,460.0,1036.0,NaN,NaN,460.0,1036.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-02-10,AD,255.0,1291.0,NaN,NaN,255.0,1291.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-02-12,AD,331.0,1622.0,NaN,NaN,331.0,1622.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-02-19,AD,519.0,2141.0,NaN,NaN,519.0,2141.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2545113,2022-08-21,ZW,365.0,6400632.0,416.0,4715815.0,2011.0,12105303.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2545114,2022-08-24,ZW,3621.0,6404253.0,3488.0,4719303.0,15923.0,12121226.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2545115,2022-08-25,ZW,3684.0,6407937.0,2897.0,4722200.0,12159.0,12133385.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2545116,2022-08-27,ZW,3069.0,6411006.0,2899.0,4725099.0,12206.0,12145591.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2545117,2022-09-08,ZW,5608.0,6416614.0,5404.0,4730503.0,16007.0,12161598.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
vaccine_info.columns

Index(['date', 'location_key', 'new_persons_vaccinated',
       'cumulative_persons_vaccinated', 'new_persons_fully_vaccinated',
       'cumulative_persons_fully_vaccinated', 'new_vaccine_doses_administered',
       'cumulative_vaccine_doses_administered',
       'new_persons_vaccinated_pfizer', 'cumulative_persons_vaccinated_pfizer',
       'new_persons_fully_vaccinated_pfizer',
       'cumulative_persons_fully_vaccinated_pfizer',
       'new_vaccine_doses_administered_pfizer',
       'cumulative_vaccine_doses_administered_pfizer',
       'new_persons_vaccinated_moderna',
       'cumulative_persons_vaccinated_moderna',
       'new_persons_fully_vaccinated_moderna',
       'cumulative_persons_fully_vaccinated_moderna',
       'new_vaccine_doses_administered_moderna',
       'cumulative_vaccine_doses_administered_moderna',
       'new_persons_vaccinated_janssen',
       'cumulative_persons_vaccinated_janssen',
       'new_persons_fully_vaccinated_janssen',
       'cumulative_persons_fully_vaccinated_janssen',
       'new_vaccine_doses_administered_janssen',
       'cumulative_vaccine_doses_administered_janssen',
       'new_persons_vaccinated_sinovac', 'total_persons_vaccinated_sinovac',
       'new_persons_fully_vaccinated_sinovac',
       'total_persons_fully_vaccinated_sinovac',
       'new_vaccine_doses_administered_sinovac',
       'total_vaccine_doses_administered_sinovac'],
      dtype='object')

In [11]:
# the number of the individuals newly vaccinated.
vaccine_info['new_persons_vaccinated']

0             NaN
1           460.0
2           255.0
3           331.0
4           519.0
            ...
2545113     365.0
2545114    3621.0
2545115    3684.0
2545116    3069.0
2545117    5608.0
Name: new_persons_vaccinated, Length: 2545118, dtype: float64

In [12]:
# total of Covid-19 vaccines administrated
vaccine_info['cumulative_vaccine_doses_administered']

0               576.0
1              1036.0
2              1291.0
3              1622.0
4              2141.0
              ...
2545113    12105303.0
2545114    12121226.0
2545115    12133385.0
2545116    12145591.0
2545117    12161598.0
Name: cumulative_vaccine_doses_administered, Length: 2545118, dtype: float64

In [13]:
vaccine_info['cumulative_persons_fully_vaccinated_janssen']

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
           ..
2545113   NaN
2545114   NaN
2545115   NaN
2545116   NaN
2545117   NaN
Name: cumulative_persons_fully_vaccinated_janssen, Length: 2545118, dtype: float64

In [14]:
vaccine_info['cumulative_persons_fully_vaccinated_moderna']

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
           ..
2545113   NaN
2545114   NaN
2545115   NaN
2545116   NaN
2545117   NaN
Name: cumulative_persons_fully_vaccinated_moderna, Length: 2545118, dtype: float64

In [15]:
vaccine_info['cumulative_persons_fully_vaccinated_pfizer']

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
           ..
2545113   NaN
2545114   NaN
2545115   NaN
2545116   NaN
2545117   NaN
Name: cumulative_persons_fully_vaccinated_pfizer, Length: 2545118, dtype: float64

### Third sample data of Covid-19

In [16]:
# Number of Covid-19 new cases, hospitalizations, deaths, and intensive care separated by sex.
By_sex = pd.read_csv('https://storage.googleapis.com/covid19-open-data/v3/by-sex.csv')

In [17]:
By_sex

,date,location_key,new_confirmed_male,new_confirmed_female,cumulative_confirmed_male,cumulative_confirmed_female,new_deceased_male,new_deceased_female,cumulative_deceased_male,cumulative_deceased_female,...,cumulative_hospitalized_patients_male,cumulative_hospitalized_patients_female,new_intensive_care_patients_male,new_intensive_care_patients_female,cumulative_intensive_care_patients_male,cumulative_intensive_care_patients_female,new_ventilator_patients_male,new_ventilator_patients_female,cumulative_ventilator_patients_male,cumulative_ventilator_patients_female
0,0022-01-10,AR,NaN,0.0,0.0,0.0,NaN,0.0,0.0,0.0,...,0.0,0.0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN
1,0022-01-20,AR,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,0202-03-30,AR,NaN,1.0,0.0,1.0,NaN,0.0,0.0,0.0,...,0.0,0.0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN
3,0221-07-06,AR,NaN,0.0,0.0,1.0,NaN,0.0,0.0,0.0,...,0.0,0.0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN
4,1202-01-07,AR,NaN,1.0,0.0,2.0,NaN,0.0,0.0,0.0,...,0.0,0.0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3848335,2020-08-07,US_MA,201.0,205.0,52978.0,65464.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3848336,2020-08-08,US_MA,175.0,223.0,53153.0,65687.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3848337,2020-08-09,US_MA,163.0,164.0,53316.0,65851.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3848338,2020-08-10,US_MA,129.0,138.0,53445.0,65989.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3848339,2020-08-11,US_MA,167.0,232.0,53612.0,66221.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
# This data categorizes the number of covid-19 cases confirmed, the number of deaths, hospitalizations, intesnive acre, and patients in ventilators by sex.
By_sex.columns

Index(['date', 'location_key', 'new_confirmed_male', 'new_confirmed_female',
       'cumulative_confirmed_male', 'cumulative_confirmed_female',
       'new_deceased_male', 'new_deceased_female', 'cumulative_deceased_male',
       'cumulative_deceased_female', 'new_recovered_male',
       'new_recovered_female', 'cumulative_recovered_male',
       'cumulative_recovered_female', 'new_tested_male', 'new_tested_female',
       'cumulative_tested_male', 'cumulative_tested_female',
       'new_hospitalized_patients_male', 'new_hospitalized_patients_female',
       'cumulative_hospitalized_patients_male',
       'cumulative_hospitalized_patients_female',
       'new_intensive_care_patients_male',
       'new_intensive_care_patients_female',
       'cumulative_intensive_care_patients_male',
       'cumulative_intensive_care_patients_female',
       'new_ventilator_patients_male', 'new_ventilator_patients_female',
       'cumulative_ventilator_patients_male',
       'cumulative_ventilator_patients_female'],
      dtype='object')

In [19]:
By_sex['cumulative_confirmed_female']

0              0.0
1              0.0
2              1.0
3              1.0
4              2.0
            ...
3848335    65464.0
3848336    65687.0
3848337    65851.0
3848338    65989.0
3848339    66221.0
Name: cumulative_confirmed_female, Length: 3848340, dtype: float64

In [20]:
By_sex['cumulative_confirmed_male']

0              0.0
1              0.0
2              0.0
3              0.0
4              0.0
            ...
3848335    52978.0
3848336    53153.0
3848337    53316.0
3848338    53445.0
3848339    53612.0
Name: cumulative_confirmed_male, Length: 3848340, dtype: float64

In [21]:
By_sex['cumulative_deceased_female']

0          0.0
1          0.0
2          0.0
3          0.0
4          0.0
          ...
3848335    NaN
3848336    NaN
3848337    NaN
3848338    NaN
3848339    NaN
Name: cumulative_deceased_female, Length: 3848340, dtype: float64

In [22]:
By_sex['cumulative_deceased_male']

0          0.0
1          0.0
2          0.0
3          0.0
4          0.0
          ...
3848335    NaN
3848336    NaN
3848337    NaN
3848338    NaN
3848339    NaN
Name: cumulative_deceased_male, Length: 3848340, dtype: float64

In [23]:
By_sex['cumulative_hospitalized_patients_female']

0          0.0
1          0.0
2          0.0
3          0.0
4          0.0
          ...
3848335    NaN
3848336    NaN
3848337    NaN
3848338    NaN
3848339    NaN
Name: cumulative_hospitalized_patients_female, Length: 3848340, dtype: float64

In [24]:
By_sex['cumulative_hospitalized_patients_male']

0          0.0
1          0.0
2          0.0
3          0.0
4          0.0
          ...
3848335    NaN
3848336    NaN
3848337    NaN
3848338    NaN
3848339    NaN
Name: cumulative_hospitalized_patients_male, Length: 3848340, dtype: float64

In [25]:
By_sex['cumulative_intensive_care_patients_female']

0          0.0
1          0.0
2          0.0
3          0.0
4          0.0
          ...
3848335    NaN
3848336    NaN
3848337    NaN
3848338    NaN
3848339    NaN
Name: cumulative_intensive_care_patients_female, Length: 3848340, dtype: float64

In [26]:
By_sex['cumulative_intensive_care_patients_male']

0          0.0
1          0.0
2          0.0
3          0.0
4          0.0
          ...
3848335    NaN
3848336    NaN
3848337    NaN
3848338    NaN
3848339    NaN
Name: cumulative_intensive_care_patients_male, Length: 3848340, dtype: float64

## Examples of XLSX files

### First sample of XLSX files

In [54]:
# 2014 death rates by age and cause
deaths_df = pd.read_excel('https://query.data.world/s/icrpekc42uqsyuevrwvv7fgsqezpnd?dws=00000')

In [51]:
deaths_df

,Cause of death (based on ICD–10),All ages1,Unnamed: 2,Under 1 year2,Unnamed: 4,1–4,Unnamed: 6,5–14,Unnamed: 8,15–24,...,45–54,Unnamed: 16,55–64,Unnamed: 18,65–74,Unnamed: 20,75–84,Unnamed: 22,85 and over,Unnamed: 24
0,All causes . . . . . . . . . . . . . . . . . ...,823.7,NaN,588,NaN,24,NaN,12.7,NaN,65.5,...,404.8,NaN,870.3,NaN,1786.3,NaN,4564.2,NaN,13407.9,NaN
1,Salmonella infections . . . . . . . . . . ....,0,NaN,*,NaN,*,NaN,*,NaN,*,...,*,NaN,*,NaN,*,NaN,*,NaN,*,NaN
2,Shigellosis and amebiasis . . . . . . . . . . ...,*,NaN,*,NaN,*,NaN,*,NaN,*,...,*,NaN,*,NaN,*,NaN,*,NaN,*,NaN
3,Certain other intestinal infections . . . ....,3.1,NaN,5.5,NaN,*,NaN,*,NaN,0.1,...,0.7,NaN,2,NaN,6.5,NaN,21.1,NaN,59.8,NaN
4,Tuberculosis . . . . . . . . . . . . . . . . ....,0.2,NaN,*,NaN,*,NaN,*,NaN,*,...,0.1,NaN,0.2,NaN,0.4,NaN,0.9,NaN,1.8,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,Complications of medical and surgical care ....,NaN,0.8,NaN,*,NaN,*,NaN,*,NaN,...,NaN,0.6,NaN,1.2,NaN,2.2,NaN,3.9,NaN,7.3
136,Enterocolitis due to Clostridium difficile . ...,NaN,2.2,NaN,*,NaN,*,NaN,*,NaN,...,NaN,0.4,NaN,1.4,NaN,4.9,NaN,16.1,NaN,45.2
137,"Drug-induced deaths4,5 . . . . . . . . . . . ....",NaN,15.6,NaN,0.6,NaN,0.3,NaN,0.1,NaN,...,NaN,29.8,NaN,21.7,NaN,7.6,NaN,4.4,NaN,5
138,"Alcohol-induced deaths4,6 . . . . . . . . . ....",NaN,9.6,NaN,*,NaN,*,NaN,*,NaN,...,NaN,20.4,NaN,26.8,NaN,17.6,NaN,10.5,NaN,5.6
139,"Injury by firearms4,7. . . . . . . . . . . . ....",NaN,10.5,NaN,*,NaN,0.4,NaN,0.9,NaN,...,NaN,12.2,NaN,11.4,NaN,11.5,NaN,13.9,NaN,15

In [55]:
deaths_df.columns

Index(['Cause of death (based on ICD–10)', 'All ages1', 'Unnamed: 2',
       'Under 1 year2', 'Unnamed: 4', '1–4', 'Unnamed: 6', '5–14',
       'Unnamed: 8', '15–24', 'Unnamed: 10', '25–34', 'Unnamed: 12', '35–44',
       'Unnamed: 14', '45–54', 'Unnamed: 16', '55–64', 'Unnamed: 18', '65–74',
       'Unnamed: 20', '75–84', 'Unnamed: 22', '85 and over', 'Unnamed: 24'],
      dtype='object')

In [59]:
# Desease that caused the death.
deaths_df['Cause of death (based on ICD–10)']

0      All causes  . . . . . . . . . . . . . . . . . ...
1      Salmonella infections    . . . . . . . . . . ....
2      Shigellosis and amebiasis . . . . . . . . . . ...
3      Certain other intestinal infections    . . . ....
4      Tuberculosis . . . . . . . . . . . . . . . . ....
                             ...
135    Complications of medical and surgical care   ....
136    Enterocolitis due to Clostridium difficile  . ...
137    Drug-induced deaths4,5 . . . . . . . . . . . ....
138    Alcohol-induced deaths4,6  . . . . . . . . . ....
139    Injury by firearms4,7. . . . . . . . . . . . ....
Name: Cause of death (based on ICD–10), Length: 140, dtype: object

In [64]:
# Resume of all people that died beacuse of those dieases
deaths_df['All ages1']

0      823.7
1          0
2          *
3        3.1
4        0.2
       ...
135      NaN
136      NaN
137      NaN
138      NaN
139      NaN
Name: All ages1, Length: 140, dtype: object

In [65]:
# number of Patients under 1 year that died beacuse of those diseases
deaths_df['Unnamed: 2']

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
135     0.8
136     2.2
137    15.6
138     9.6
139    10.5
Name: Unnamed: 2, Length: 140, dtype: object

In [67]:
# number of patiets between the ages of 1 and 4 year old that died because of those dieases
deaths_df['Unnamed: 4']

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
      ...
135      *
136      *
137    0.6
138      *
139      *
Name: Unnamed: 4, Length: 140, dtype: object

In [70]:
# number of patients between the ages of 5 and 14 that died because of those diseases
deaths_df['Unnamed: 6']

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
      ...
135      *
136      *
137    0.3
138      *
139    0.4
Name: Unnamed: 6, Length: 140, dtype: object

### Second sample of XLSX files

In [71]:
# Incidents of Gun Violence in San Antonio in 2018
Gun_Violence = pd.read_excel('https://query.data.world/s/kf5kc5fzmqcisbya6oss4ofbic64ml?dws=00000')

In [72]:
Gun_Violence

,Incident Date,State,City Or County,Address,Latitude,Longitude,# Killed,# Injured,featureID,URL
0,2018-06-24,Texas,San Antonio,NW Loop 410,29.520896,-98.496834,0,0,149084,http://www.gunviolencearchive.org/incident/114...
1,2018-06-24,Texas,San Antonio,222 N New Braunfels Ave,29.422051,-98.460863,1,0,149008,http://www.gunviolencearchive.org/incident/114...
2,2018-06-23,Texas,San Antonio,4553 N Loop 1604 W,29.595993,-98.574291,1,0,148100,http://www.gunviolencearchive.org/incident/114...
3,2018-06-22,Texas,San Antonio,I-35,31.610595,-97.104834,0,0,147609,http://www.gunviolencearchive.org/incident/114...
4,2018-06-21,Texas,San Antonio,Chihuahua St and Hamilton St,29.416962,-98.532977,1,0,148104,http://www.gunviolencearchive.org/incident/114...
5,2018-06-17,Texas,San Antonio,400 block of S Olive St,29.415909,-98.471776,0,1,143231,http://www.gunviolencearchive.org/incident/114...
6,2018-06-17,Texas,San Antonio,18360 Blanco Rd,29.610768,-98.506670,0,1,143107,http://www.gunviolencearchive.org/incident/114...
7,2018-06-15,Texas,San Antonio,200 block of Gorman,29.426651,-98.468500,0,1,142098,http://www.gunviolencearchive.org/incident/114...
8,2018-06-13,Texas,San Antonio,138 N Ww White Rd,29.432767,-98.405102,0,1,140832,http://www.gunviolencearchive.org/incident/114...
9,2018-06-12,Texas,San Antonio,2600 block of Bermuda Dr,31.105324,-97.762122,1,0,140907,http://www.gunviolencearchive.org/incident/114...
10,2018-06-11,Texas,San Antonio,400 block of Mercedes St,32.679875,-97.468064,1,0,138496,http://www.gunviolencearchive.org/incident/113...
11,2018-06-09,Texas,San Antonio,7100 block of Harlow Dr,29.496593,-98.418349,0,1,136848,http://www.gunviolencearchive.org/incident/113...
12,2018-06-09,Texas,San Antonio,19126 Redland Rd,29.619797,-98.458932,0,0,136745,http://www.gunviolencearchive.org/incident/113...
13,2018-06-07,Texas,San Antonio,2900 block of Rigsby Ave,29.397932,-98.409299,0,1,134992,http://www.gunviolencearchive.org/incident/113...
14,2018-06-05,Texas,San Antonio,N New Braunfels Ave and NE I-410 Loop,29.516667,-98.459022,0,1,134651,http://www.gunviolencearchive.org/incident/113...
15,2018-06-04,Texas,San Antonio,800 block of John Adams Dr,29.470389,-98.556771,0,1,132438,http://www.gunviolencearchive.org/incident/113...
16,2018-06-03,Texas,San Antonio,4934 NW Loop 410,29.487376,-98.583298,0,1,132244,http://www.gunviolencearchive.org/incident/113...
17,2018-06-03,Texas,San Antonio,10362 Sahara Drive,29.530317,-98.492230,0,3,132392,http://www.gunviolencearchive.org/incident/113...
18,2018-06-02,Texas,San Antonio,300 block of Susanwood Drive,29.422504,-98.401817,0,1,131613,http://www.gunviolencearchive.org/incident/113...
19,2018-06-02,Texas,San Antonio,1600 block of S Hamilton Ave,29.411536,-98.533688,0,1,132206,http://www.gunviolencearchive.org/incident/113...
20,2018-06-01,Texas,San Antonio,San Fernando St and San Horacio Ave,29.425660,-98.561895,1,1,131111,http://www.gunviolencearchive.org/incident/113...
21,2018-05-31,Texas,San Antonio,Division Ave,29.379555,-98.515196,0,0,129893,http://www.gunviolencearchive.org/incident/112...
22,2018-05-31,Texas,San Antonio,8030 Bandera Rd,29.518837,-98.633420,0,0,134837,http://www.gunviolencearchive.org/incident/113...
23,2018-05-30,Texas,San Antonio,2000 block of El Paso St,29.420023,-98.522388,0,1,128638,http://www.gunviolencearchive.org/incident/112...
24,2018-05-29,Texas,San Antonio,9440 I-10W,29.527421,-98.559739,0,3,128995,http://www.gunviolencearchive.org/incident/112...
25,2018-05-29,Texas,San Antonio,238 N Loop 1604,29.608120,-98.493967,0,0,129000,http://www.gunviolencearchive.org/incident/112...
26,2018-05-27,Texas,San Antonio,8210 Marbach Rd,29.417427,-98.650841,0,1,126704,http://www.gunviolencearchive.org/incident/112...
27,2018-05-27,Texas,San Antonio,9504 Perrin Beitel Rd,29.526577,-98.410701,0,1,126577,http://www.gunviolencearchive.org/incident/112...
28,2018-05-25,Texas,San Antonio,1900 block of Horal St,29.414391,-98.655499,0,1,125452,http://www.gunviolencearchive.org/incident/112...
29,2018-05-24,Texas,San Antonio,W Mulberry Ave and Michigan Ave,29.456746,-98.511917,0,0,125528,http://www.gunviolencearchive.org/incident/112...
30,2018-05-22,Texas,San Antonio,5100 block of Sierra Madre Dr,29.549158,-98.393730,0,1,123046,http://www.gunviolencearchive.org/incident/112...
31,2018-05-21,Texas,San Antonio,417 Spriggsdale Blvd,29.416676,-98.438839,0,2,121986,http://www.gunviolencearchive.org/incident/112...
32,2018-05-21,Texas,San Antonio,6100 block of Pow Wow Dr,29.463669,-98.607218,0,2,121977,http://www.gunviolencearchive.org/incident/112...
33,2018-05-19,Texas,San Antonio,4618 Walzem Rd,29.509064,-98.401294,0,0,121748,http://www.gunviolencearchive.org/incident/112...
34,2018-05-18,Texas,San Antonio,3000 block of Moonrise Dr,29.437262,-98.582461,0,1,120651,http://www.gunviolencearchive.org/incident/112...
35,2018-05-17,Texas,San Antonio,9559 Airport Blvd,29.526358,-98.473196,0,0,118801,http://www.gunviolencearchive.org/incident/111...
36,2018-05-14,Texas,San Antonio,1946 NE Interstate 410 Loop,29.514229,-98.431478,1,0,115629,http://www.gunviolencearchive.org/incident/111...
37,2018-05-14,Texas,San Antonio,600 block of S Pine St,29.413282,-98.470101,1,0,116454,http://www.gunviolencearchive.org/incident/111...
38,2018-05-13,Texas,San Antonio,7414 W Military Dr,29.415883,-98.629443,0,1,114799,http://www.gunviolencearchive.org/incident/111...
39,2018-05-12,Texas,San Antonio,Chickering Ave and Vista Rd,29.394593,-98.435354,0,2,113939,http://www.gunviolencearchive.org/incident/111...
40,2018-05-11,Texas,San Antonio,1500 block of Cupples Rd,29.393402,-98.549743,0,1,113639,http://www.gunviolencearchive.org/incident/111...
41,2018-05-10,Texas,San Antonio,7300 block of Harlow Dr,29.498607,-98.418318,1,0,112120,http://www.gunviolencearchive.org/incident/111...
42,2018-05-10,Texas,San Antonio,NW Loop 410,29.520896,-98.496834,0,1,112096,http://www.gunviolencearchive.org/incident/111...
43,2018-05-09,Texas,San Antonio,1000 block of Canton Street,32.771463,-96.800793,1,0,112099,http://www.gunviolencearchive.org/incident/111...
44,2018-05-07,Texas,San Antonio,1200 block of Vanderbilt St,29.389684,-98.454385,0,2,112104,http://www.gunviolencearchive.org/incident/111...
45,2018-05-06,Texas,San Antonio,1500 block of Hays St,31.759327,-95.612921,0,1,109460,http://www.gunviolencearchive.org/incident/110...
46,2018-05-05,Texas,San Antonio,16000 block of FM 211,29.781231,-95.951311,1,0,108518,http://www.gunviolencearchive.org/incident/110...
47,2018-05-03,Texas,San Antonio,6800 block of Brookvale Dr,29.479615,-98.623914,0,1,107240,http://www.gunviolencearchive.org/incident/110...
48,2018-05-02,Texas,San Antonio,7207 Snowden Rd,29.502398,-98.589441,1,1,105604,http://www.gunviolencearchive.org/incident/110...
49,2018-05-01,Texas,San Antonio,Vermont St and Ferndale St,29.378484,-98.523658,1,0,104363,http://www.gunviolencearchive.org/incident/110...
50,2018-04-28,Texas,San Antonio,6218 S New Braunfels Ave,29.365284,-98.455600,0,1,102674,http://www.gunviolencearchive.org/incident/110...
51,2018-04-27,Texas,San Antonio,1375 Austin Hwy,29.491411,-98.439637,0,2,101321,http://www.gunviolencearchive.org/incident/110...
52,2018-04-26,Texas,San Antonio,4848 Goldfield Dr,29.483501,-98.396998,1,0,100623,http://www.gunviolencearchive.org/incident/110...
53,2018-04-25,Texas,San Antonio,5700 Midcrown Dr,29.490854,-98.379007,0,1,100157,http://www.gunviolencearchive.org/incident/110...

In [73]:
Gun_Violence.columns

Index(['Incident Date', 'State', 'City Or County', 'Address', 'Latitude',
       'Longitude', '# Killed', '# Injured', 'featureID', 'URL'],
      dtype='object')

In [74]:
Gun_Violence['Incident Date']

0    2018-06-24
1    2018-06-24
2    2018-06-23
3    2018-06-22
4    2018-06-21
5    2018-06-17
6    2018-06-17
7    2018-06-15
8    2018-06-13
9    2018-06-12
10   2018-06-11
11   2018-06-09
12   2018-06-09
13   2018-06-07
14   2018-06-05
15   2018-06-04
16   2018-06-03
17   2018-06-03
18   2018-06-02
19   2018-06-02
20   2018-06-01
21   2018-05-31
22   2018-05-31
23   2018-05-30
24   2018-05-29
25   2018-05-29
26   2018-05-27
27   2018-05-27
28   2018-05-25
29   2018-05-24
30   2018-05-22
31   2018-05-21
32   2018-05-21
33   2018-05-19
34   2018-05-18
35   2018-05-17
36   2018-05-14
37   2018-05-14
38   2018-05-13
39   2018-05-12
40   2018-05-11
41   2018-05-10
42   2018-05-10
43   2018-05-09
44   2018-05-07
45   2018-05-06
46   2018-05-05
47   2018-05-03
48   2018-05-02
49   2018-05-01
50   2018-04-28
51   2018-04-27
52   2018-04-26
53   2018-04-25
Name: Incident Date, dtype: datetime64[ns]

In [77]:
Gun_Violence['Address']

0                               NW Loop 410
1                   222 N New Braunfels Ave
2                        4553 N Loop 1604 W
3                                      I-35
4              Chihuahua St and Hamilton St
5                   400 block of S Olive St
6                           18360 Blanco Rd
7                       200 block of Gorman
8                         138 N Ww White Rd
9                  2600 block of Bermuda Dr
10                 400 block of Mercedes St
11                  7100 block of Harlow Dr
12                         19126 Redland Rd
13                 2900 block of Rigsby Ave
14    N New Braunfels Ave and NE I-410 Loop
15               800 block of John Adams Dr
16                         4934 NW Loop 410
17                       10362 Sahara Drive
18             300 block of Susanwood Drive
19             1600 block of S Hamilton Ave
20      San Fernando St and San Horacio Ave
21                             Division Ave
22                          8030 Bandera Rd
23                 2000 block of El Paso St
24                               9440 I-10W
25                          238 N Loop 1604
26                          8210 Marbach Rd
27                    9504 Perrin Beitel Rd
28                   1900 block of Horal St
29          W Mulberry Ave and Michigan Ave
30            5100 block of Sierra Madre Dr
31                     417 Spriggsdale Blvd
32                 6100 block of Pow Wow Dr
33                           4618 Walzem Rd
34                3000 block of Moonrise Dr
35                        9559 Airport Blvd
36              1946 NE Interstate 410 Loop
37                   600 block of S Pine St
38                       7414 W Military Dr
39              Chickering Ave and Vista Rd
40                 1500 block of Cupples Rd
41                  7300 block of Harlow Dr
42                              NW Loop 410
43              1000 block of Canton Street
44              1200 block of Vanderbilt St
45                    1500 block of Hays St
46                    16000 block of FM 211
47               6800 block of Brookvale Dr
48                          7207 Snowden Rd
49               Vermont St and Ferndale St
50                 6218 S New Braunfels Ave
51                          1375 Austin Hwy
52                        4848 Goldfield Dr
53                         5700 Midcrown Dr
Name: Address, dtype: object

In [78]:
Gun_Violence['# Killed']

0     0
1     1
2     1
3     0
4     1
5     0
6     0
7     0
8     0
9     1
10    1
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    1
21    0
22    0
23    0
24    0
25    0
26    0
27    0
28    0
29    0
30    0
31    0
32    0
33    0
34    0
35    0
36    1
37    1
38    0
39    0
40    0
41    1
42    0
43    1
44    0
45    0
46    1
47    0
48    1
49    1
50    0
51    0
52    1
53    0
Name: # Killed, dtype: int64

In [79]:
Gun_Violence['# Injured']

0     0
1     0
2     0
3     0
4     0
5     1
6     1
7     1
8     1
9     0
10    0
11    1
12    0
13    1
14    1
15    1
16    1
17    3
18    1
19    1
20    1
21    0
22    0
23    1
24    3
25    0
26    1
27    1
28    1
29    0
30    1
31    2
32    2
33    0
34    1
35    0
36    0
37    0
38    1
39    2
40    1
41    0
42    1
43    0
44    2
45    1
46    0
47    1
48    1
49    0
50    1
51    2
52    0
53    1
Name: # Injured, dtype: int64

### Third sample of XLSX files

In [80]:
# County and State Medicare Spend
Medicare_Spending = pd.read_excel('https://query.data.world/s/54ck6ci6mchnpwxefznchcu2bpg42m?dws=00000')

In [81]:
Medicare_Spending

,County ID,County name,Medicare enrollees (2014),Total Medicare reimbursements per enrollee (Parts A and B) (2014),Unnamed: 4,Hospital & skilled nursing facility reimbursements per enrollee (2014),Unnamed: 6,Physician reimbursements per enrollee (2014),Unnamed: 8,Outpatient facility reimbursements per enrollee (2014),Unnamed: 10,Home health agency reimbursements per enrollee (2014),Unnamed: 12,Hospice reimbursements per enrollee (2014),Unnamed: 14,Durable medical equipment reimbursements per enrollee (2014),Unnamed: 16
0,NaN,NaN,NaN,"Age, sex & race-adjusted","Price, age, sex & race-adjusted","Age, sex & race-adjusted","Price, age, sex & race-adjusted","Age, sex & race-adjusted","Price, age, sex & race-adjusted","Age, sex & race-adjusted","Price, age, sex & race-adjusted","Age, sex & race-adjusted","Price, age, sex & race-adjusted","Age, sex & race-adjusted","Price, age, sex & race-adjusted","Age, sex & race-adjusted","Price, age, sex & race-adjusted"
1,1001.0,AL-Autauga County,4649.0,8498.6,9858.62,3223.91,4053.2,2371.46,2539.18,1711.69,1948.61,419.55,476.88,520.74,627.51,251.58,232.72
2,1003.0,AL-Baldwin County,22607.0,8028.73,9412.78,2809.21,3695.9,2689.56,2846.65,1309.54,1519.31,575.77,682.03,385.12,451.39,247.73,226.87
3,1005.0,AL-Barbour County,3037.0,8707.97,10117.09,3367.89,4167.67,2441.77,2609.6,1522.81,1769.72,538.92,628.08,613.4,731.4,255.88,235.11
4,1007.0,AL-Bibb County,1839.0,9809.13,10817.25,4100.45,4740.37,2559.38,2668.62,1672.08,1808.62,901.38,967.68,425.74,482.73,181.96,192.73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3140,56039.0,WY-Teton County,2268.0,7785.43,7114.08,3421.1,2747.99,2155.31,2182.88,1628.4,1594.82,201.62,194.01,125.58,127.79,164.26,158.57
3141,56041.0,WY-Uinta County,1709.0,8138.14,7856.7,3854.64,3615.6,1832.84,1819.05,1403,1381.7,536.52,524.38,202.51,214.82,317.72,305.68
3142,56043.0,WY-Washakie County,1465.0,8251.25,8014.82,4057.12,3921.7,1632.02,1613.11,2056.86,2003.48,131.74,128.78,NaN,NaN,318.86,294.05
3143,56045.0,WY-Weston County,1092.0,7647.56,7637.86,3398.88,3454.09,1441.57,1453.38,2207.11,2147.58,252.39,245.66,NaN,NaN,346.49,335.9
3144,99999.0,US-United States,26097945.0,9588.57,9588.57,4243.61,4243.61,2682.21,2682.21,1578.69,1578.69,537.44,537.44,359.34,359.34,187.28,187.28

In [83]:
Medicare_Spending.columns

Index(['County ID', 'County name', 'Medicare enrollees (2014)',
       'Total Medicare reimbursements per enrollee (Parts A and B) (2014)',
       'Unnamed: 4',
       'Hospital & skilled nursing facility reimbursements per enrollee (2014)',
       'Unnamed: 6', 'Physician reimbursements per enrollee (2014)',
       'Unnamed: 8', 'Outpatient facility reimbursements per enrollee (2014)',
       'Unnamed: 10', 'Home health agency reimbursements per enrollee (2014)',
       'Unnamed: 12', 'Hospice reimbursements per enrollee (2014)',
       'Unnamed: 14',
       'Durable medical equipment reimbursements per enrollee (2014)',
       'Unnamed: 16'],
      dtype='object')

In [87]:
Medicare_Spending['County name']

0                      NaN
1        AL-Autauga County
2        AL-Baldwin County
3        AL-Barbour County
4           AL-Bibb County
               ...
3140       WY-Teton County
3141       WY-Uinta County
3142    WY-Washakie County
3143      WY-Weston County
3144      US-United States
Name: County name, Length: 3145, dtype: object

In [88]:
# Number of patients enrolled in Medicare in 2014 by County
Medicare_Spending['Medicare enrollees (2014)']

0              NaN
1           4649.0
2          22607.0
3           3037.0
4           1839.0
           ...
3140        2268.0
3141        1709.0
3142        1465.0
3143        1092.0
3144    26097945.0
Name: Medicare enrollees (2014), Length: 3145, dtype: float64

In [93]:
# Total payments per enrollee by Medicare in 2014
Medicare_Spending['Total Medicare reimbursements per enrollee (Parts A and B) (2014)']

0       Age, sex & race-adjusted
1                         8498.6
2                        8028.73
3                        8707.97
4                        9809.13
                  ...
3140                     7785.43
3141                     8138.14
3142                     8251.25
3143                     7647.56
3144                     9588.57
Name: Total Medicare reimbursements per enrollee (Parts A and B) (2014), Length: 3145, dtype: object

In [90]:
# Total payments by Medicare per enrollee to Hospitals and Nursing facilities in 2014
Medicare_Spending['Hospital & skilled nursing facility reimbursements per enrollee (2014)']

0       Age, sex & race-adjusted
1                        3223.91
2                        2809.21
3                        3367.89
4                        4100.45
                  ...
3140                      3421.1
3141                     3854.64
3142                     4057.12
3143                     3398.88
3144                     4243.61
Name: Hospital & skilled nursing facility reimbursements per enrollee (2014), Length: 3145, dtype: object

In [91]:
# Total payments by Medicare per enrollee to physicians in 2014
Medicare_Spending['Physician reimbursements per enrollee (2014)']

0       Age, sex & race-adjusted
1                        2371.46
2                        2689.56
3                        2441.77
4                        2559.38
                  ...
3140                     2155.31
3141                     1832.84
3142                     1632.02
3143                     1441.57
3144                     2682.21
Name: Physician reimbursements per enrollee (2014), Length: 3145, dtype: object

In [95]:
# Total payments by Medicare per enrollee to Hospice facilities in 2014
Medicare_Spending['Hospice reimbursements per enrollee (2014)']

0       Age, sex & race-adjusted
1                         520.74
2                         385.12
3                          613.4
4                         425.74
                  ...
3140                      125.58
3141                      202.51
3142                         NaN
3143                         NaN
3144                      359.34
Name: Hospice reimbursements per enrollee (2014), Length: 3145, dtype: object

## Examples of JSON files

### First sample of JSON file

In [96]:
# World Population
Total_Population = pd.read_json('https://query.data.world/s/5viynlujqthmydkrvt2mg3prcuvltt?dws=00000')

In [97]:
Total_Population

     Rank     country  population  World
0       1       China  1388232693  0.185
1       2       India  1342512706  0.179
2       3        U.S.   326474013  0.043
3       4   Indonesia   263510146  0.035
4       5      Brazil   211243220  0.028
..    ...         ...         ...    ...
190   191  San Marino       32104  0.000
191   192       Palau       21726  0.000
192   193       Nauru       10301  0.000
193   194      Tuvalu        9975  0.000
194   195    Holy See         801  0.000

[195 rows x 4 columns]

In [98]:
Total_Population.columns

Index(['Rank', 'country', 'population', 'World'], dtype='object')

In [100]:
# Position of the Country, starting with the one with the largest number of inhabitants
Total_Population['Rank']

0        1
1        2
2        3
3        4
4        5
      ...
190    191
191    192
192    193
193    194
194    195
Name: Rank, Length: 195, dtype: int64

In [101]:
# Name of the country
Total_Population['country']

0           China
1           India
2            U.S.
3       Indonesia
4          Brazil
          ...
190    San Marino
191         Palau
192         Nauru
193        Tuvalu
194      Holy See
Name: country, Length: 195, dtype: object

In [104]:
 # Number of inhabitants
 Total_Population['population']

0      1388232693
1      1342512706
2       326474013
3       263510146
4       211243220
          ...
190         32104
191         21726
192         10301
193          9975
194           801
Name: population, Length: 195, dtype: int64

In [105]:
# Percentage of the population of the world in that specific country
Total_Population['World']

0      0.185
1      0.179
2      0.043
3      0.035
4      0.028
       ...
190    0.000
191    0.000
192    0.000
193    0.000
194    0.000
Name: World, Length: 195, dtype: float64

### Second sample of JSON file

In [45]:
# 2014 IRS Zip-code data
IRS_data = pd.read_json('https://query.data.world/s/2nvikcooypheqwfcui3yo5vddzh6pk?dws=00000')

In [32]:
IRS_data

,STATE,zipcode,agi_stub,mars1,MARS2,MARS4,NUMDEP,A00100,A02300,A02500,A18300,A04800
0,AL,0,1,481840,115070,240450,548630,11004990,97553,64407,72527,1830923
1,AL,0,2,200750,150290,125560,375670,17658446,52682,560917,240950,8618302
2,AL,0,3,75820,142970,34070,186770,15963943,27490,882812,329474,10205184
3,AL,0,4,26730,125410,10390,133020,14294375,16508,793454,361954,10045399
4,AL,0,5,18990,177070,5860,185150,27387096,17488,1038902,982577,21014718
...,...,...,...,...,...,...,...,...,...,...,...,...
166681,WY,99999,2,3320,1410,870,3970,211177,1902,5496,1769,114452
166682,WY,99999,3,1530,1660,320,2640,221244,939,9428,2379,148181
166683,WY,99999,4,780,1660,130,1920,223022,427,8995,2913,163884
166684,WY,99999,5,540,2530,110,2510,420641,428,13108,7458,333833
166685,WY,99999,5,540,2530,110,2510,420641,428,13108,7458,333833

In [33]:
IRS_data.columns

Index(['STATE', 'zipcode', 'agi_stub', 'mars1', 'MARS2', 'MARS4', 'NUMDEP',
       'A00100', 'A02300', 'A02500', 'A18300', 'A04800'],
      dtype='object')

In [34]:
IRS_data['STATE']

0         AL
1         AL
2         AL
3         AL
4         AL
          ..
166681    WY
166682    WY
166683    WY
166684    WY
166685    WY
Name: STATE, Length: 166686, dtype: object

In [35]:
IRS_data['zipcode']

0             0
1             0
2             0
3             0
4             0
          ...
166681    99999
166682    99999
166683    99999
166684    99999
166685    99999
Name: zipcode, Length: 166686, dtype: int64

In [37]:
# Size of Adjust gross income
IRS_data['agi_stub']

0         1
1         2
2         3
3         4
4         5
         ..
166681    2
166682    3
166683    4
166684    5
166685    5
Name: agi_stub, Length: 166686, dtype: int64

In [38]:
# Single Returns
IRS_data['mars1']

0         481840
1         200750
2          75820
3          26730
4          18990
           ...
166681      3320
166682      1530
166683       780
166684       540
166685       540
Name: mars1, Length: 166686, dtype: int64

In [40]:
# Joint Returns
IRS_data['MARS2']

0         115070
1         150290
2         142970
3         125410
4         177070
           ...
166681      1410
166682      1660
166683      1660
166684      2530
166685      2530
Name: MARS2, Length: 166686, dtype: int64

In [42]:
# Head of household returns
IRS_data['MARS4']

0         240450
1         125560
2          34070
3          10390
4           5860
           ...
166681       870
166682       320
166683       130
166684       110
166685       110
Name: MARS4, Length: 166686, dtype: int64

In [43]:
# Number of dependents
IRS_data['NUMDEP']

0         548630
1         375670
2         186770
3         133020
4         185150
           ...
166681      3970
166682      2640
166683      1920
166684      2510
166685      2510
Name: NUMDEP, Length: 166686, dtype: int64

In [44]:
# Total Income amount
IRS_data['A02300']

0         97553
1         52682
2         27490
3         16508
4         17488
          ...
166681     1902
166682      939
166683      427
166684      428
166685      428
Name: A02300, Length: 166686, dtype: int64

### Third sample of JSON

In [3]:
# A summary of delinquent referrals to court statewide, showing quaterly amounts by race and ethics categories. Counts include both males and females receiving referrals.
Delinquent = pd.read_json('https://data.ct.gov/resource/efwc-ht6a.json?$query=SELECT%0A%20%20%60fltr_dt%60%2C%0A%20%20%60quarter%60%2C%0A%20%20%60period%60%2C%0A%20%20%60year%60%2C%0A%20%20%60geography%60%2C%0A%20%20%60raceethnicity%60%2C%0A%20%20%60gender%60%2C%0A%20%20%60yth_est%60%2C%0A%20%20%60referrals%60%2C%0A%20%20%60rate_per%60')

In [4]:
Delinquent

,fltr_dt,period,year,geography,raceethnicity,gender,yth_est,referrals,rate_per
0,2019-12-31T00:00:00.000,annually,2019,Connecticut,Hispanic,Both,83208,2130,25.598500
1,2020-12-31T00:00:00.000,annually,2020,Connecticut,Hispanic,Both,83208,1213,14.577925
2,2021-12-31T00:00:00.000,annually,2021,Connecticut,Hispanic,Both,83208,964,11.585424
3,2022-12-31T00:00:00.000,annually,2022,Connecticut,Hispanic,Both,83208,1066,12.811268
4,2023-12-31T00:00:00.000,annually,2023,Connecticut,Hispanic,Both,83208,665,7.992020
...,...,...,...,...,...,...,...,...,...
995,2019-12-31T00:00:00.000,annually,2019,Clinton,Non-Hispanic Black,Both,40,0,NaN
996,2020-12-31T00:00:00.000,annually,2020,Clinton,Non-Hispanic Black,Both,40,-9,NaN
997,2021-12-31T00:00:00.000,annually,2021,Clinton,Non-Hispanic Black,Both,40,0,NaN
998,2022-12-31T00:00:00.000,annually,2022,Clinton,Non-Hispanic Black,Both,40,0,NaN
999,2023-12-31T00:00:00.000,annually,2023,Clinton,Non-Hispanic Black,Both,40,0,NaN

In [6]:
Delinquent.columns

Index(['fltr_dt', 'period', 'year', 'geography', 'raceethnicity', 'gender',
       'yth_est', 'referrals', 'rate_per'],
      dtype='object')

In [7]:
# Day and time
Delinquent['fltr_dt']

0      2019-12-31T00:00:00.000
1      2020-12-31T00:00:00.000
2      2021-12-31T00:00:00.000
3      2022-12-31T00:00:00.000
4      2023-12-31T00:00:00.000
                ...
995    2019-12-31T00:00:00.000
996    2020-12-31T00:00:00.000
997    2021-12-31T00:00:00.000
998    2022-12-31T00:00:00.000
999    2023-12-31T00:00:00.000
Name: fltr_dt, Length: 1000, dtype: object

In [8]:
# Either annual or quaterly
Delinquent['period']

0      annually
1      annually
2      annually
3      annually
4      annually
         ...
995    annually
996    annually
997    annually
998    annually
999    annually
Name: period, Length: 1000, dtype: object

In [9]:
# City was the referral was given
Delinquent['geography']

0      Connecticut
1      Connecticut
2      Connecticut
3      Connecticut
4      Connecticut
          ...
995        Clinton
996        Clinton
997        Clinton
998        Clinton
999        Clinton
Name: geography, Length: 1000, dtype: object

In [10]:
# Race of the juvenile
Delinquent['raceethnicity']

0                Hispanic
1                Hispanic
2                Hispanic
3                Hispanic
4                Hispanic
              ...
995    Non-Hispanic Black
996    Non-Hispanic Black
997    Non-Hispanic Black
998    Non-Hispanic Black
999    Non-Hispanic Black
Name: raceethnicity, Length: 1000, dtype: object

In [11]:
# Male of Female
Delinquent['gender']

0      Both
1      Both
2      Both
3      Both
4      Both
       ...
995    Both
996    Both
997    Both
998    Both
999    Both
Name: gender, Length: 1000, dtype: object

In [12]:
# Number of estimate youth
Delinquent['yth_est']

0      83208
1      83208
2      83208
3      83208
4      83208
       ...
995       40
996       40
997       40
998       40
999       40
Name: yth_est, Length: 1000, dtype: int64

In [13]:
# Number of delinquent referrals
Delinquent['referrals']

0      2130
1      1213
2       964
3      1066
4       665
       ...
995       0
996      -9
997       0
998       0
999       0
Name: referrals, Length: 1000, dtype: int64

In [14]:
# Rate of delinquent referrals per 1000 youth
Delinquent['rate_per']

0      25.598500
1      14.577925
2      11.585424
3      12.811268
4       7.992020
         ...
995          NaN
996          NaN
997          NaN
998          NaN
999          NaN
Name: rate_per, Length: 1000, dtype: float64